<style>
    .customfooter IMG {
        margin-left: 1px;
        display: inline;
    }
</style>
<div class="article-entry customfooter">

    <h1>About Jeremy Shantz</h1>

    <div style="display:flex">
        <div style="flex:flex-grow; flex-basis: 30%">
            <a href="/css/images/jeremyshantz.png">
                <img src="/css/images/jeremyshantz200.png" width="200px" height="200px;" title="Jeremy Shantz"  />
            </a>
        </div>
        <div style="flex:flex-grow; flex-basis: 55%; margin-left:1%; ">
            Jeremy Shantz is a software developer in Waterloo.

            <div>
                <br />
                <a href="https://www.linkedin.com/in/jeremyshantz"><img src="/css/images/linkedin32.png" /></a>
                <a href="https://github.com/jeremyshantz"><img src="/css/images/GitHub-Mark-32px.png"  /></a>
            </div>

        </div>
    </div>
</div>